<div ng-controller="logController" class="container-fluid">
  <div class='charSelector-container'>
    <select ng-model="data.selectedCharacter" class='charSelector'>
        <option ng-repeat='(k,v) in data.trackedCharacters' value="{{k}}">{{k}} · Lv.{{v.Level}}</option>
    </select>
  </div>

  <div class="row">

    <div class="col-md-6 p0">

      <div class="panel panel-default leather" ng-if="data.event">
        <div class="panel-heading">
          <h4 class="hilight title"><span class='faded'>{{data.maps[data.event.Map].QuestLevel}} · </span>{{data.maps[data.event.Map].Name}}</h4>
        </div>

        <div class="panel-body">
          <div class="mini-card" ng-repeat='(k,v) in data.event.Data' ng-class='{"active": data.event.EventSource === k, "completed": v.Completed}'>
            <div class="icon" back-img="/res/img/{{k !== 'Exploration' ? 'mon/' + data.mobs[k].Icon: 'SiaulMapIncomplete'}}.png"></div>
            <div class='name'>{{data.mobs[k] ? data.mobs[k].Name : 'Exploration'}}</div>
            <div class='bubble' ng-if='data.mobs[k]'>{{data.mobs[k].Level}}</div>

            <div class="bar" ng-class='{"completed": v.Completed}'>
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ v.Completed ? 100 : (v.Current / v.Total) * 100}}%">
                &nbsp;
              </div>
            </div>

            <div class='stats'>{{v.Current}}/{{v.Total}}</div>
            <div class='perc'>{{v.Current / v.Total * 100 | number:2}}%</div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 p0">
      <div class="panel panel-default leather travel-log">
        <div class="panel-heading">
          <h4 class="hilight title">Travel Log</h4>
        </div>
        <div class="panel-body">
          <div class="float-right"><label class='mini'>Show Undiscovered Places</label><input type="checkbox" ng-model="showAll"></div>
        </div>
        <div class="gold-separator"></div>
        <div class="panel-body">

          <div class="content-wrapper">
            <div class="selectable" ng-repeat="(k,v) in data.orderedMaps" ng-if="(data.maps[v.ClassID].canPath) && (data.trackedCharacters[data.selectedCharacter].map[v.ClassID].mobs.length || showAll)">


              <div class='col-xs-12 item white'>
                <span class='faded'>{{v.QuestLevel}}</span> · {{v.Name ? v.Name : v.ClassName }}
                <div class='float-right'>
                  <div ng-if="data.trackedCharacters[data.selectedCharacter].map[v.ClassID].Exploration" class="dib">
                    <div class="marker" ng-repeat="m in data.trackedCharacters[data.selectedCharacter].map[v.ClassID].mobs" ng-class='{"completed": data.trackedCharacters[data.selectedCharacter].mob[m].Completed, "incomplete": !data.trackedCharacters[data.selectedCharacter].mob[m].Completed }' ng-attr-title='{{data.mobs[m].Name}}'>
                    </div><div class="marker" ng-class='{"completed": data.trackedCharacters[data.selectedCharacter].map[v.ClassID].Exploration.Completed, "incomplete": !data.trackedCharacters[data.selectedCharacter].map[v.ClassID].Exploration.Completed }'>
                    </div>
                  </div>
                  <span class='dib gameicon gi-compass' ng-click="doRoute(v.ClassID)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>